<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>flight-of-the-felix.tumblr.com - Fic rec index</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <style type="text/css">
            .row-flex, .row-flex > div[class*='col-'] {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                flex:1 1 auto;
            }

            .row-flex-wrap {
                -webkit-flex-flow: row wrap;
                align-content: flex-start;
                flex:0;
            }

            .row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
                 margin:-.2px; /* hack adjust for wrapping */
            }

            .container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
                width:100%;
            }

            .flex-col {
                display: flex;
                display: -webkit-flex;
                flex: 1 100%;
                flex-flow: column wrap;
            }

            .flex-grow {
                /*display: flex;*/
                -webkit-flex: 2;
                flex: 2;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="page-header">
                <h1>Fic recommendations</h1><small>(work in progress)</small>
            </div>

            <div id="content">
                <div id="search_widget">
                    <label for="search_fandom">Fandom: </label>
                    <select id="search_fandom" v-model="fandom_id" @change="fetch_data()">
                        <option value="-1">-- All --</option>
                        <option v-for="(name, id) in fandoms" :value="id">{{ name }}</option>
                    </select>
                </div>

                <p>&nbsp;</p>

                <div id="fic_content">
                    <template v-for="(chunk, i_chunk) in chunks">
                        <fic-row :work_chunks="chunk"></fic-row>
                    </template>
                </div>
            </div>
        </div>

        <script type="text/x-template" id="fic-row-template">
            <div class="row row-flex row-flex-wrap">
                <template v-for="(work, i_work) in work_chunks">
                    <fic-work :work="work"></fic-work>
                    <div v-if="i_work !== work_chunks.length" class="clearfix visible-xs-block"></div>
                </template>
            </div>
        </script>

        <script type="text/x-template" id="fic-template">
            <div class="col-md-4 col-xs-12">
                <div class="work panel panel-default flex-col">
                    <div class="panel-heading">
                        <h3 class="panel-title"><a :href="work.url">{{ work.title }}</a></h3>
                    </div>
                    <div class="panel-body flex-grow">
                        <h5>By: <span v-html="authors"></span></h5>
                        <span>Ships: {{ ships }}</span>
                        <p v-html="work.description"></p>
                        <p v-html="stats"></p>
                        <p v-if="tags !== ''">Tags: {{ tags }}</p>
                    </div>
                    <div class="panel-footer">
                        {{ fandoms }}
                    </div>
                </div>
            </div>
        </script>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- Vue.js (Development) -->
        <script src="vue.js"></script>
        <!-- Vue.js (Production) -->
        <!-- <script src="https://unpkg.com/vue"></script> -->
        <!-- Lodash -->
        <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>

        <script type="application/javascript">
            Vue.component('fic-work', {
                template: '#fic-template',
                props: ['work'],
                computed: {
                    authors: function() {
                        var authors = [];
                        $.each(this.work.authors, function(i, author) {
                            if (author.url !== null && author.url !== '') {
                                authors.push('<a href="' + author.url + '">' + author.name + '</a>');
                            }
                            else {
                                authors.push(author.name);
                            }
                        });
                        return authors.join(' & ');
                    },
                    ships: function() {
                        var ships = [];
                        this.work.ships.forEach(function(ship) {
                            var characters = [];
                            ship.characters.forEach(function(character) {
                                characters.push(character.name);
                            });

                            var s = characters.join('/');

                            if (ship.name !== null && ship.name !== '') {
                                s += ' (' + ship.name + ')';
                            }
                            ships.push(s);
                        });
                        return ships.join(', ');
                    },
                    stats: function() {
                        var stats = [];
                        stats.push('<span>Rating: ' + this.work.rating + '</span>');
                        if (this.work.word_count !== 0) {
                            stats.push('<span>Word count: ' + this.work.word_count_readable + '</span>');
                        }
                        if (this.work.setting !== '') {
                            stats.push('<span>Setting: ' + this.work.setting + '</span>');
                        }
                        if (this.work.complete) {
                            stats.push('<span>Complete</span>');
                        }
                        else if (this.work.status !== '' && this.work.status !== null) {
                            stats.push('<span>Incomplete (' + this.work.status + ')</span>');
                        }
                        else {
                            stats.push('<span>Incomplete</span>');
                        }
                        return stats.join(' | ');
                    },
                    tags: function() {
                        var tags = [];
                        this.work.tags.forEach(function(tag) {
                            tags.push(tag.name);
                        });
                        return tags.join(', ')
                    },
                    fandoms: function() {
                        var fandoms = [];
                        this.work.fandoms.forEach(function(fandom) {
                            fandoms.push(fandom.name);
                        });
                        return fandoms.join(' / ');
                    }
                }
            });

            Vue.component('fic-row', {
                template: '#fic-row-template',
                props: ['work_chunks']
            });

            var base_url = 'http://ficrecs.hubsec.eu';
            var url_api_work = base_url + '/api/works';
            var url_api_active_fandoms = base_url + '/api/fandoms/active';
            var url_api_work_by_fandom = base_url + '/api/works/fandom/';  // + fandom_id
            var url_api_work_by_ship = base_url + '/api/works/ship/'; // + ship_id

            var app = new Vue({
                el: '#content',
                data: {
                    works: [],
                    fandoms: {},
                    fandom_id: '-1'
                },
                created: function() {
                    this.fetch_data();
                    this.fetch_fandoms();
                },
                computed: {
                    chunks: function() {
                        return _.chunk(this.works, 3);
                    }
                },
                methods: {
                    fetch_data: function() {
                        var self = this;

                        if (this.fandom_id !== '-1') {
                            url = url_api_work_by_fandom + this.fandom_id;
                        }
                        else {
                            url = url_api_work;
                        }

                        $.getJSON(url).done(function(works) {
                            self.works = works;
                        }).fail(function(data) {
                            console.error('Failed to get/parse the works');
                        });
                    },
                    fetch_fandoms: function() {
                        var self = this;

                        $.getJSON(url_api_active_fandoms).done(function(fandoms) {
                            self.fandoms = {};

                            fandoms.forEach(function(fandom) {
                                self.fandoms[fandom.id] = fandom.name;
                            })
                        }).fail(function(data) {
                            console.error('Failed to get/parse the active fandoms.')
                        })
                    }
                }
            });
        </script>
    </body>
</html>