<template>
    <div>
        <div id="search_widget">
            <label for="search_fandom">Fandom: </label>
            <select id="search_fandom" v-model="fandom_id" @change="fetch_data(true)" class="form-control">
                <option value="-1">-- All --</option>
                <option v-for="data in fandoms_list" :value="data.id">{{ data.name }}</option>
            </select>

            <label for="search_ship">Ship: </label>
            <select id="search_ship" class="form-control">
            </select>
        </div>

        <p>&nbsp;</p>

        <div id="fic_content">
            <span v-show="total_works === 0">No fics found</span>

            <template v-for="(chunk, i_chunk) in chunks">
                <fic-row :work_chunks="chunk" :extra_data="extra_data"></fic-row>
            </template>

            <div class="col-md-offset-4 col-md-4 col-xs12" v-show="is_not_max_page">
                <a @click="fetch_data()" class="load">Load more. . .</a>
            </div>

            <p>&nbsp;</p>
        </div>
    </div>
</template>

<script>
    import _ from 'lodash';
    import 'select2';
    import FicRow from './FicRow.vue';

    const base_url = 'http://ficrecs.hubsec.eu';
    // var base_url = 'http://127.0.0.1:5000';
    const url_api_work = base_url + '/api/2/works?sort=-sticky,id&include=ships,ships.characters,tags,authors'; // + &page[number]=n
    const url_api_active_fandoms = base_url + '/api/2/fandoms?sort=name&fields[fandom]=name&filter=[{"name": "works", "op":"any", "val":null}]';

    export default {
        data () {
            return {
                works: [],
                fandoms: {},
                fandoms_list: [],
                fandom_id: '-1',
                ship_id: '-1',
                page_size: 18,
                current_page: 1,
                total_works: 0,
                tags: {},
                characters: {},
                ships: {},
                authors: {},
                search_data: {
                    ship_data: {}
                }
            }
        },
        created: function() {
            this.fetch_data();
            this.fetch_fandoms();
        },
        mounted: function() {
            let self = this;

            $('#search_ship').select2({
                ajax: {
                    url: 'http://ficrecs.hubsec.eu/api/2/ships',
                    method: 'GET',
                    headers: {
                        Accept: 'application/vnd.api+json'
                    },
                    datatype: 'json',
                    data: function(params) {
                        let filter = `[{"or":[{"name": "characters", "op": "any", "val": {"name": "name", "op": "ilike", "val": "%${params.term}%"}}, {"name": "name", "op": "ilike", "val": "%${params.term}%"}]}]`;
                        return {
                            filter: filter,
                            "page[number]": params.page,
                            include: 'characters'
                        };
                    },
                    processResults: function(data, params) {
                        params.page = params.page || 1;

                        console.log(data);
                        self.search_data.ship_data = {
                            characters: {},
                            term: params.term
                        };

                        data.included.forEach(function(character) {
                            self.search_data.ship_data.characters[character.id] = {
                                name: character.attributes.name
                            };
                        });

                        return {
                            results: data.data,
                            pagination: {
                                more: (params.page * 20) < data.meta.count
                            }
                        }
                    },
                    cache: true
                },
                minimumInputLength: 1,
                escapeMarkup: function(markup) {
                    return markup;
                },
                templateResult: self.format_ship_search,
                templateSelection: self.format_ship_search,
                placeholder: '-- Enter a character or ship name to search --',
                allowClear: true
            }).on('change', function() {
                self.ship_id = this.value;
                self.fetch_data(true);
            });
        },
        components: {
            FicRow
        },
        computed: {
            chunks: function() {
                return _.chunk(this.works, 3);
            },
            extra_data: function() {
                return {
                    tags: this.tags,
                    fandoms: this.fandoms,
                    characters: this.characters,
                    ships: this.ships,
                    authors: this.authors
                };
            },
            is_not_max_page: function() {
                return this.works.length < this.total_works;
            }
        },
        methods: {
            clear_data_works: function() {
                this.works = [];
                this.total_works = 0;
                this.tags = {};
                this.characters = {};
                this.ships = {};
                this.authors = {};
            },
            fetch_data: function(fresh) {
                let self = this;

                if (fresh) {
                    self.current_page = 1;
                    self.total_works = 0;
                }

                if (self.current_page === -1) {
                    return;
                }

                if (self.current_page === 1) {
                    self.clear_data_works();
                }

                let url = url_api_work + '&page[size]=' + self.page_size + '&page[number]=' + self.current_page;

                if (self.fandom_id !== '-1') {
                    url += '&filter=[{"name": "fandoms", "op": "any", "val": {"name": "id", "op": "eq", "val": "' + self.fandom_id + '"}}]';
                }
                else if (self.ship_id !== '-1') {
                    url += `&filter=[{"name": "ships", "op": "any", "val": {"name": "id", "op": "eq", "val": "${self.ship_id}"}}]`;
                }

                console.log(self.ship_id);

                $.ajax({
                    url: url,
                    method: 'GET',
                    headers: {
                        Accept: 'application/vnd.api+json'
                    },
                    datatype: 'json'
                }).done(function(data) {
                    self.total_works = data.meta.count;

                    if (self.total_works === 0) {
                        self.current_page = -1;
                        return;
                    }

                    data.included.forEach(function(included_item) {
                        if (included_item.type === 'ship') {
                            self.ships[included_item.id] = {
                                name: included_item.attributes.name,
                                comments: included_item.attributes.comments,
                                characters: []
                            };
                            included_item.relationships.characters.data.forEach(function(character) {
                                self.ships[included_item.id].characters.push(character.id);
                            });
                        }
                        else if (included_item.type === 'character') {
                            self.characters[included_item.id] = {
                                name: included_item.attributes.name
                            }
                        }
                        else if (included_item.type === 'tag') {
                            self.tags[included_item.id] = {
                                name: included_item.attributes.name
                            };
                        }
                        else if (included_item.type === 'author') {
                            self.authors[included_item.id] = {
                                name: included_item.attributes.name,
                                url: included_item.attributes.url,
                                comments: included_item.attributes.comments
                            }
                        }
                    });

                    data.data.forEach(function(work_data) {
                        self.works.push(work_data)
                    });

                    if (self.works.length < self.total_works) {
                        self.current_page += 1;
                    }
                    else {
                        self.current_page = -1;
                    }
                }).fail(function(data) {
                    console.error('Failed to get/parse the works');
                });
            },
            fetch_fandoms: function() {
                let self = this;

                $.ajax({
                    url: url_api_active_fandoms,
                    method: 'GET',
                    headers: {
                        Accept: 'application/vnd.api+json'
                    },
                    datatype: 'json'
                }).done(function(data) {
                    self.fandoms = {};
                    self.fandoms_list = [];

                    data.data.forEach(function(fandom) {
                        let tmp = {
                            id: fandom.id,
                            name: fandom.attributes.name
                        };
                        self.fandoms[fandom.id] = tmp;
                        self.fandoms_list.push(tmp);
                    });
                }).fail(function(data) {
                    console.error('Failed to get/parse the active fandoms.')
                });
            },
            format_ship_search: function(ship) {
                if (ship.loading) {
                    return ship.text;
                }

                let characters = [];
                let self = this;

                ship.relationships.characters.data.forEach(function(character) {
                    characters.push(self.search_data.ship_data.characters[character.id].name)
                });

                let s = characters.join('/');
                if (ship.attributes.name !== null && ship.attributes.name !== '') {
                    s += ' (' + ship.attributes.name + ')';
                }

                return `<span>${s}</span>`;
            }
        }
    }
</script>

<style>
    .load {
        font-size: larger;
        font-weight: bold;
        text-align: center;
        display: block;
    }
</style>