<template>
    <div class="row row-flex row-flex-wrap">
        <template v-for="(work, i_work) in work_chunks">
            <fic-work :work="work" :extra_data="extra_data"></fic-work>
            <div v-if="i_work !== work_chunks.length" class="clearfix visible-xs-block"></div>
        </template>
    </div>
</template>

<script>
    import FicWork from './FicWork.vue';

    export default {
        name: 'fic-row',
        props: ['work_chunks', 'extra_data'],
        components: {
            FicWork
        }
    }
</script>