<template>
    <div class="col-md-4 col-xs-12">
        <div class="work panel panel-default flex-col">
            <div class="panel-heading">
                <h3 class="panel-title"><a :href="work.attributes.url">{{ work.attributes.title }}</a></h3>
            </div>
            <div class="panel-body flex-grow">
                <h5>By: <span v-html="authors"></span></h5>
                <span>Ships: {{ ships }}</span>
                <p v-html="work.attributes.description"></p>
                <p v-html="stats"></p>
                <p v-if="tags !== ''">Tags: {{ tags }}</p>
            </div>
            <div class="panel-footer">
                {{ fandoms }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'fic-work',
        props: ['work', 'extra_data'],
        computed: {
            authors: function () {
                let authors = [];
                let self = this;

                $.each(this.work.relationships.authors.data, function (i, author_info) {
                    let author = self.extra_data.authors[author_info.id];

                    if (author.url !== null && author.url !== '') {
                        authors.push('<a href="' + author.url + '">' + author.name + '</a>');
                    }
                    else {
                        authors.push(author.name);
                    }
                });
                return authors.join(' & ');
            },
            ships: function () {
                let ships = [];
                let self = this;

                $.each(this.work.relationships.ships.data, function (i, ship_info) {
                    let ship = self.extra_data.ships[ship_info.id];
                    let characters = [];

                    ship.characters.forEach(function (character) {
                        characters.push(self.extra_data.characters[character].name);
                    });

                    let s = characters.join('/');

                    if (ship.name !== null && ship.name !== '') {
                        s += ' (' + ship.name + ')';
                    }
                    ships.push(s);
                });
                return ships.join(', ');
            },
            stats: function () {
                let stats = [];
                stats.push('<span>Rating: ' + this.work.attributes.readable_rating + '</span>');
                if (this.work.attributes.word_count !== 0) {
                    stats.push('<span>Word count: ' + this.work.attributes.readable_word_count + '</span>');
                }
                if (this.work.attributes.setting !== '') {
                    stats.push('<span>Setting: ' + this.work.attributes.setting + '</span>');
                }
                if (this.work.attributes.complete) {
                    stats.push('<span>Complete</span>');
                }
                else if (this.work.attributes.status !== '' && this.work.attributes.status !== null) {
                    stats.push('<span>Incomplete (' + this.work.attributes.status + ')</span>');
                }
                else {
                    stats.push('<span>Incomplete</span>');
                }
                return stats.join(' | ');
            },
            tags: function () {
                let tags = [];
                let self = this;

                $.each(this.work.relationships.tags.data, function (i, tag_info) {
                    tags.push(self.extra_data.tags[tag_info.id].name);
                });
                return tags.join(', ')
            },
            fandoms: function () {
                let fandoms = [];
                let self = this;

                $.each(this.work.relationships.fandoms.data, function (i, fandom_info) {
                    fandoms.push(self.extra_data.fandoms[fandom_info.id].name);
                });

                return fandoms.join(' / ');
            }
        }
    }
</script>