{% extends 'base_layout.html' %}

{# TODO: Move macro to utils extension file #}
{% macro render_field(field, class_='', inline=False) %}
    <div class="form-group">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% if inline %}
            {{ field.label() }}
        {% else %}
            {{ field.label(class_='control-label') }}
        {% endif %}
        <div>
            {% if field.bs3.help_text is not none %}
                {{ field(class_='form-control {0}'.format(class_), **{'aria-describedby': '{0}_help'.format(field.id) }) }}
                <span id="{{ '{0}_help'.format(field.id) }}" class="help-block">{{ field.bs3.help_text }}</span>
            {% else %}
                {{ field(class_='form-control {0}'.format(class_)) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block title %}{{ super() }} - Edit author{% endblock title %}

{% block head_content %}
    <script type="application/javascript" src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock head_content %}

{% block page_header %}
    <div class="page-header">
        {% if form.author_name.data != '' and form.author_name.data is not none %}
            <h1>Edit {{ form.author_name.data }}</h1>
        {% else %}
            <h1>New author</h1>
        {% endif %}
    </div>
{% endblock page_header %}

{% block content %}
    <form method="POST" action="{{ url_for('editor_author_edit', author_id=id) }}" class="form-horizontal">
        {{ form.hidden_tag() }}
        <div id="add_fandom_container">
            {% for fandom_form in form.fandoms %}
                <div class="form-inline row">
                    <div class="col-md-3">
                        {{ render_field(fandom_form.fandom, 'fandom_select', True) }}
                    </div>
                    {% if loop.index0 >= min_fandoms %}
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="remove_button-fandom_form-{{ loop.index }}">&nbsp;<span class="sr-only">placeholder</span></label>
                                <div>
                                    <button type="button" class="btn btn-danger remove_fandom_button" id="remove_button-fandom_form-{{ loop.index }}">Remove</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-default" id="add_fandom_button">Add fandom</button>
        {{ render_field(form.author_name) }}
        {{ render_field(form.author_url) }}
        {{ render_field(form.comments) }}
        <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </form>
{% endblock content %}

{% block footer_content %}
    <script type="application/javascript">
        var base_select_fandom;
        var add_fandom_container = $('#add_fandom_container');

        function n_fandom_forms() {
            return add_fandom_container.find('> div').length;
        }

        add_fandom_container.on('click', '.remove_fandom_button', function() {
            $(this).parent().parent().parent().parent().remove();
        });

        $('#add_fandom_button').click(function() {
            var fandom_block = base_select_fandom.clone();
            var nth_item = n_fandom_forms();

            // Clone .fandom_select and give it the correct attributes
            var select_fandom = fandom_block.find('.fandom_select').first();
            var select_fandom_id = select_fandom.attr('id').replace('0', nth_item);
            select_fandom.attr('id', select_fandom_id);
            select_fandom.attr('name', select_fandom_id);
            select_fandom.parent().parent().find('> label').attr('for', select_fandom_id);

            if (nth_item >= {{ min_fandoms }}) {
                fandom_block.append('<div class="col-md-2"><div class="form-group"><label for="remove_button-fandom_form-' + nth_item + '">&nbsp;<span class="sr-only">placeholder</span></label><div><button type="button" class="btn btn-danger remove_fandom_button" id="remove_button-fandom_form-' + nth_item + '">Remove</button></div></div>');
            }

            add_fandom_container.append(fandom_block);
        });

        $(document).ready(function () {
           base_select_fandom = add_fandom_container.find('> div:first').clone();
        });
    </script>

    <script type="application/javascript">
        CKEDITOR.replace('{{ form.comments.name }}');
    </script>
{% endblock footer_content %}