<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Fic Rec Editor{% endblock title %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block head_content %}{% endblock head_content %}
    </head>
    <body>
        <div class="container">
            {% if menu %}
            <div class="header">
                <a href="#main_content" class="sr-only sr-only-focusable">Skip navigation</a>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-header-collapse" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="{{ url_for('editor_index') }}">Home</a>

                        <div class="collapse navbar-collapse" id="navbar-header-collapse">
                            <ul class="nav navbar-nav">
                                {{ menu }}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            {% endif %}

            {% block page_header %}{% endblock page_header %}

            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <div id="flashes">
                    {% for category, message in messages %}
                        {% if category in ['info'] %}
                            <div class="alert alert-info" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% elif category in ['error'] %}
                            <div class="alert alert-danger" role="alert">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i><span class="sr-only">Error: </span>
                                {{ message }}
                            </div>
                        {% elif category in ['debug'] %}
                            <div class="alert alert-warning" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="content">
                {% block content %}{% endblock content %}
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        {% block footer_content %}{% endblock footer_content %}

    </body>
</html>