{% extends 'base_layout.html' %}
{% block title %}{{ super() }} - Fandoms{% endblock title %}

{% block page_header %}
    <div class="page-header">
        <h1>Fandoms</h1>
    </div>
{% endblock page_header %}

{% block content %}
    <p>List of fandoms
    </p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Fandom name</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for fandom in fandoms %}
                <tr>
                    <td>{{ fandom.name }}</td>
                    <td><a href="{{ url_for('editor_fandom_edit', fandom_id=fandom.id) }}"><i class="fa fa-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Edit"></i><span class="sr-only">Edit</span></a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No fandoms listed</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ url_for('editor_fandom_edit') }}">Add new fandom</a>
{% endblock content %}

{% block footer_content %}
    <script type="application/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock footer_content %}