{% extends 'base_layout.html' %}

{# TODO: Move macro to utils extension file #}
{% macro render_field(field) %}
    <div class="form-group">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {{ field.label(class_='control-label') }}
        <div>
            {% if field.bs3.help_text is not none %}
                {{ field(class_='form-control', **{'aria-describedby': '{0}_help'.format(field.id) }) }}
                <span id="{{ '{0}_help'.format(field.id) }}" class="help-block">{{ field.bs3.help_text }}</span>
            {% else %}
                {{ field(class_='form-control') }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block title %}{{ super() }} - Edit fandom{% endblock title %}

{% block head_content %}
    <script type="application/javascript" src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock head_content %}

{% block page_header %}
    <div class="page-header">
        {% if form.name.data != '' and form.name.data is not none %}
            <h1>Edit {{ form.name.data }}</h1>
        {% else %}
            <h1>New fandom</h1>
        {% endif %}
    </div>
{% endblock page_header %}

{% block content %}
    <form method="POST" action="{{ url_for('editor_fandom_edit', id=id) }}" class="form-horizontal">
        {{ form.hidden_tag() }}
        {{ render_field(form.name) }}
        {{ render_field(form.comments) }}
        <div class="form-group">
            <button type="submit" class="btn btn-default">Send</button>
        </div>
    </form>
{% endblock content %}

{% block footer_content %}
    <script type="application/javascript">
        CKEDITOR.replace('{{ form.comments.name }}');
    </script>
{% endblock footer_content %}