{% extends 'base_layout.html' %}
{% block title %}{{ super() }} - Login{% endblock title %}

{% macro render_field(field) %}
    <div class="form-group">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {{ field.label(class_='col-sm-2 control-label') }}
        <div class="col-sm-10">
            {{ field(class_='form-control') }}
        </div>
    </div>
{% endmacro %}

{% block page_header %}
    <div class="page-header">
        <h1>Log in</h1>
    </div>
{% endblock page_header %}

{% block content %}
    <form method="POST" action="{{ url_for('editor_login') }}" class="form-horizontal">
        {{ form.hidden_tag() }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        {{ render_field(form.remember) }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>
        </div>
    </form>
{% endblock content %}