{% extends 'base_layout.html' %}

{# TODO: Move macro to utils extension file #}
{% macro render_field(field) %}
    <div class="form-group">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {{ field.label(class_='control-label') }}
        <div>
            {% if field.bs3.help_text is not none %}
                {{ field(class_='form-control', **{'aria-describedby': '{0}_help'.format(field.id) }) }}
                <span id="{{ '{0}_help'.format(field.id) }}" class="help-block">{{ field.bs3.help_text }}</span>
            {% else %}
                {{ field(class_='form-control') }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block title %}{{ super() }} - Ships{% endblock title %}

{% block head_content %}{{ JSGlue.include() }}{% endblock head_content %}

{% block page_header %}
    <div class="page-header">
        <h1>Ships</h1>
    </div>
{% endblock page_header %}

{% block content %}
    <form class="form-horizontal" id="fandom_selection_form">
        {{ render_field(form.fandom) }}
    </form>

    <div class="hidden" id="result_container">
        <h3>List of ships by fandom</h3>
        <table class="table table-striped" id="result_table">
            <thead>
                <tr>
                    <th>Characters</th>
                    <th>Ship name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <a class="btn btn-default" href="{{ url_for('editor_ship_edit') }}">Add new ship</a>
{% endblock content %}

{% block footer_content %}
    <!--suppress JSUnresolvedVariable, JSUnresolvedFunction -->
    <script type="application/javascript">
        $("#{{ form.fandom.id }}").change(function() {
            var url = Flask.url_for('api_ships_by_fandom', {fandom_id: $("#{{ form.fandom.id }}").val()});

            $.getJSON(url).done(function(data) {
                $('#result_table').find('> tbody').empty();
                if (data.length == 0) {
                    $('#result_container').removeClass('show').addClass('hidden');
                }
                else {
                    $('#result_container').removeClass('hidden').addClass('show');
                }
                $.each(data, function(i, item) {
                    var url_ship_edit = Flask.url_for('editor_ship_edit', {ship_id: item.id});

                    var characters = [];
                    item.characters.forEach(function(character) {
                        characters.push(character.name);
                    });

                    $('#result_table').find('> tbody:last-child').append('<tr><td>' + characters.join('/') + '</td><td>' + item.name + '</td><td><a href="' + url_ship_edit + '"><i class="fa fa-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Edit"></i><span class="sr-only">Edit</span></a></td>');
                });
                $('[data-toggle="tooltip"]').tooltip();
            }).fail(function(data) {
                $('#result_container').removeClass('show').addClass('hidden');
            });
        });

        $(document).ready(function() {
            $("#{{ form.fandom.id }}").trigger("change");
        });
    </script>
{% endblock footer_content %}