{% extends 'base_layout.html' %}

{# TODO: Move macro to utils extension file #}
{% macro render_field(field, class_='', inline=False) %}
    <div class="form-group">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% if inline %}
            {{ field.label() }}
        {% else %}
            {{ field.label(class_='control-label') }}
        {% endif %}
        <div>
            {% if field.bs3.help_text is not none %}
                {{ field(class_='form-control {0}'.format(class_), **{'aria-describedby': '{0}_help'.format(field.id) }) }}
                <span id="{{ '{0}_help'.format(field.id) }}" class="help-block">{{ field.bs3.help_text }}</span>
            {% else %}
                {{ field(class_='form-control {0}'.format(class_)) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block title %}{{ super() }} - Edit ship{% endblock title %}

{% block head_content %}
    {{ JSGlue.include() }}
    <script type="application/javascript" src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock head_content %}

{% block page_header %}
    <div class="page-header">
        {% if form.ship_name.data != '' and form.ship_name.data is not none %}
            <h1>Edit {{ form.ship_name.data }}</h1>
        {% else %}
            <h1>New ship</h1>
        {% endif %}
    </div>
{% endblock page_header %}

{% block content %}
    <form method="POST" action="{{ url_for('editor_ship_edit', ship_id=id) }}">
        {{ form.hidden_tag() }}

        <div id="add_character_container">
            {% for character_form in form.characters %}
                <div class="form-inline row">
                    <div class="col-md-3">
                        {{ render_field(character_form.fandom, 'fandom_select', True) }}
                    </div>
                    <div class="col-md-3">
                        {{ render_field(character_form.character, 'character_select', True) }}
                    </div>
                    {% if loop.index0 >= min_characters %}
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="remove_button-{{ loop.index }}">&nbsp;<span class="sr-only">placeholder</span></label>
                                <div>
                                    <button type="button" class="btn btn-danger remove_character_button" id="remove_button-{{ loop.index }}">Remove</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="button" class="btn btn-default" id="add_character_button">Add character</button>

        {{ render_field(form.ship_name) }}
        {{ render_field(form.comments) }}

        <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </form>
{% endblock content %}

{% block footer_content %}
    <script type="application/javascript">
        var base_select_fandom_character;
        var add_character_container = $('#add_character_container');

        function get_url_api_characters(fandom_id) {
            //noinspection JSUnresolvedVariable,JSUnresolvedFunction
            return Flask.url_for('api_characters', {fandom_id: fandom_id});
        }

        function n_character_forms() {
            return add_character_container.find('> div').length;
        }

        add_character_container.on('change', '.fandom_select', function() {
            var fandom_id = $(this).val();
            var select_character = $(this).parent().parent().parent().parent().find('.character_select');

            select_character.empty();

            $.getJSON(get_url_api_characters(fandom_id)).done(function(data) {
                $.each(data[0].characters, function(i, item) {
                    select_character.append('<option value="' + item.id + '">' + item.name + '</option>');
                })
            }).fail(function(data) {
                // TODO (statusbar)
            });
        });

        add_character_container.on('click', '.remove_character_button', function() {
            $(this).parent().parent().parent().parent().remove();
        });

        $('#add_character_button').click(function() {
            var character_block = base_select_fandom_character.clone();
            var nth_item = n_character_forms();

            // Clone .fandom_select and give it the correct attributes
            var select_fandom = character_block.find('.fandom_select').first();
            var select_fandom_id = select_fandom.attr('id').replace('0', nth_item);
            select_fandom.attr('id', select_fandom_id);
            select_fandom.attr('name', select_fandom_id);
            select_fandom.parent().parent().find('> label').attr('for', select_fandom_id);

            // Clone .character_select and give it the correct attributes
            var select_character = character_block.find('.character_select').first();
            var select_character_id = select_character.attr('id').replace('0', nth_item);
            select_character.attr('id', select_character_id);
            select_character.attr('name', select_character_id);
            select_character.parent().parent().find('> label').attr('for', select_character_id);

            if (nth_item >= {{ min_characters }}) {
                character_block.append('<div class="col-md-2"><div class="form-group"><label for="remove_button-' + nth_item + '">&nbsp;<span class="sr-only">placeholder</span></label><div><button type="button" class="btn btn-danger remove_character_button" id="remove_button-' + nth_item + '">Remove</button></div></div>');
            }

            add_character_container.append(character_block);
        });

        $(document).ready(function() {
            base_select_fandom_character = add_character_container.find('> div:first').clone();
        })
    </script>

    <script type="application/javascript">
        CKEDITOR.replace('{{ form.comments.name }}');
    </script>
{% endblock footer_content %}