{% extends 'base_layout.html' %}

{# TODO: Move macro to utils extension file #}
{% macro render_field(field) %}
    <div class="form-group">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {{ field.label(class_='control-label') }}
        <div>
            {% if field.bs3.help_text is not none %}
                {{ field(class_='form-control', **{'aria-describedby': '{0}_help'.format(field.id) }) }}
                <span id="{{ '{0}_help'.format(field.id) }}" class="help-block">{{ field.bs3.help_text }}</span>
            {% else %}
                {{ field(class_='form-control') }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block title %}{{ super() }} - Works{% endblock title %}

{% block head_content %}{{ JSGlue.include() }}{% endblock head_content %}

{% block page_header %}
    <div class="page-header">
        <h1>Works</h1>
    </div>
{% endblock page_header %}

{% block content %}
    <form class="form-horizontal" id="fandom_selection_form">
        {{ render_field(form.fandom) }}
    </form>

    <div class="hidden" id="result_container">
        <h3>List of works by fandom</h3>
        <table class="table table-striped" id="result_table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author(s)</th>
                    <th>Ships</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <a class="btn btn-default" href="{{ url_for('editor_work_edit') }}">Add new work</a>
{% endblock content %}

{% block footer_content %}
    <!--suppress JSUnresolvedVariable, JSUnresolvedFunction -->
    <script type="application/javascript">
        $("#{{ form.fandom.id }}").change(function() {
            var url = Flask.url_for('api_works_by_fandom', {fandom_id: $("#{{ form.fandom.id }}").val()});

            $.getJSON(url).done(function(data) {
                $('#result_table').find('> tbody').empty();
                if (data.length == 0) {
                    $('#result_container').removeClass('show').addClass('hidden');
                }
                else {
                    $('#result_container').removeClass('hidden').addClass('show');
                }
                $.each(data, function(i, work) {
                    var url_work_edit = Flask.url_for('editor_work_edit', {work_id: work.id});

                    var ships = [];
                    work.ships.forEach(function(ship) {
                        var characters = [];
                        ship.characters.forEach(function(character) {
                            characters.push(character.name);
                        });

                        var s = characters.join('/');

                        if (ship.name != null && ship.name != '') {
                            s += ' (' + ship.name + ')';
                        }
                        ships.push(s);
                    });

                    var authors = [];
                    work.authors.forEach(function(author) {
                        authors.push(author.name)
                    });

                    $('#result_table').find('> tbody:last-child').append('<tr><td>' + work.title + '</td><td>' + authors.join(' & ') + '</td><td>' + ships.join(', ') + '</td><td><a href="' + url_work_edit + '"><i class="fa fa-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Edit"></i><span class="sr-only">Edit</span></a></td>');
                });
                $('[data-toggle="tooltip"]').tooltip();
            }).fail(function(data) {
                $('#result_container').removeClass('show').addClass('hidden');
            });
        });

        $(document).ready(function() {
            $("#{{ form.fandom.id }}").trigger("change");
        });
    </script>
{% endblock footer_content %}