{% extends 'base_layout.html' %}

{# TODO: Move macro to utils extension file #}
{% macro render_field(field, class_='', inline=False) %}
    <div class="form-group">
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        {% endif %}
        {% if inline %}
            {% if field.flags.required %}
                <label for="{{ field.id }}">{{ field.label.text }}<span style="color:red;">*</span></label>
            {% else %}
                {{ field.label() }}
            {% endif %}
        {% else %}
            {% if field.flags.required %}
                <label for="{{ field.id }}" class="control-label">{{ field.label.text }}<span style="color: red;">*</span></label>
            {% else %}
                {{ field.label(class_='control-label') }}
            {% endif %}
        {% endif %}

        <div>
            {% if field.bs3.help_text is not none %}
                {{ field(class_='form-control {0}'.format(class_), **{'aria-describedby': '{0}_help'.format(field.id) }) }}
                <span id="{{ '{0}_help'.format(field.id) }}" class="help-block">{{ field.bs3.help_text }}</span>
            {% else %}
                {{ field(class_='form-control {0}'.format(class_)) }}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% block title %}{{ super() }} - Edit work{% endblock title %}

{% block head_content %}
    {{ JSGlue.include() }}
    <script type="application/javascript" src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
    <style type="text/css">
        .vertical_gap {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        @media (max-width:768px) {
            .vertical_gap {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    </style>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet" />
{% endblock head_content %}

{% block page_header %}
    <div class="page-header">
        {% if form.title.data != '' and form.title.data != none %}
            <h1>Edit {{ form.title.data }}</h1>
        {% else %}
            <h1>New work</h1>
        {% endif %}
    </div>
{% endblock page_header %}

{% block content %}
    <form method="POST" action="{{ url_for('editor_work_edit', work_id=id) }}">
        {{ form.hidden_tag() }}
        <input type="hidden" name="s_form_extra" value="{{ s_form_extra }}">

        <div id="add_fandom_container" class="vertical_gap">
            <label for="fandom_select2">Fandom: <span style="color:red;">*</span></label>
            <select id="fandom_select2" multiple="multiple" class="form-control" name="fandoms">
                {% for fandom_id, fandom_name in form_extra['fandoms'] %}
                    <option value="{{ fandom_id }}" selected="selected">{{ fandom_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="add_ship_container" class="vertical_gap">
            <label for="ship_select2">Ship: <span style="color:red;">*</span></label>
            <select id="ship_select2" multiple="multiple" class="form-control" name="ships">
                {% for ship_id, ship_name in form_extra['ships'] %}
                    <option value="{{ ship_id }}" selected="selected">{{ ship_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="add_author_container" class="vertical_gap">
            <label for="author_select2">Author: <span style="color:red;">*</span></label>
            <select id="author_select2" multiple="multiple" class="form-control" name="authors">
                {% for author_id, author_name in form_extra['authors'] %}
                    <option value="{{ author_id }}" selected="selected">{{ author_name }}</option>
                {% endfor %}
            </select>
        </div>

        {{ render_field(form.title) }}
        {{ render_field(form.url) }}
        {{ render_field(form.rating) }}
        {{ render_field(form.word_count) }}
        {{ render_field(form.setting) }}

        {{ render_field(form.description) }}
        {{ render_field(form.tags) }}
        {{ render_field(form.spoilers) }}

        {{ render_field(form.complete) }}
        {{ render_field(form.status) }}

        {{ render_field(form.sticky) }}
        <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </form>
{% endblock content %}

{% block footer_content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script type="application/javascript">
        $.fn.select2.defaults.set("theme", "bootstrap");

        $(document).ready(function() {
            var ship_data = {
                characters: {}
            };

            $.ajax({
                url: 'http://ficrecs.hubsec.eu/api/2/characters?page[size]=0',
                method: 'GET',
                headers: {
                    Accept: 'application/vnd.api+json'
                },
                datatype: 'json'
            }).done(function(data) {
                data.data.forEach(function(character) {
                    ship_data.characters[character.id] = {
                        name: character.attributes.name
                    };
                });
            });

            function format_fandom_search(fandom) {
                if (fandom.loading) {
                    return fandom.text
                }

                return '<span>' + fandom.attributes.name + '</span>';
            }

            function format_fandom_selection(fandom) {
                if (typeof fandom.attributes === 'undefined') {
                    return fandom.text;
                }
                else {
                    return fandom.attributes.name
                }
            }

            function format_ship_search(ship) {
                if (ship.loading) {
                    return ship.text;
                }

                var characters = [];

                ship.relationships.characters.data.forEach(function(character) {
                    characters.push(ship_data.characters[character.id].name)
                });

                var s = characters.join('/');
                if (ship.attributes.name !== null && ship.attributes.name !== '') {
                    s += ' (' + ship.attributes.name + ')';
                }

                return '<span>' + s + '</span>';
            }

            function format_ship_selection(ship) {
                if (typeof ship.attributes === 'undefined') {
                    return ship.text;
                }
                else {
                    return format_ship_search(ship);
                }
            }

            function format_author_search(author) {
                if (author.loading) {
                    return author.text;
                }

                return '<span>' + author.attributes.name + '</span>';
            }

            function format_author_selection(author) {
                if (typeof author.attributes === 'undefined') {
                    return author.text;
                }
                else {
                    return author.attributes.name;
                }
            }

            $('#fandom_select2').select2({
                ajax: {
                    url: 'http://ficrecs.hubsec.eu/api/2/fandoms',
                    method: 'GET',
                    headers: {
                        Accept: 'application/vnd.api+json'
                    },
                    datatype: 'json',
                    delay: 250,
                    data: function(params) {
                        var filter = '[{"name": "name", "op": "ilike", "val": "%' + params.term + '%"}]';
                        return {
                            filter: filter,
                            "page[number]": params.page
                        };
                    },
                    processResults: function(data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data.data,
                            pagination: {
                                more: (params.page * 20) < data.meta.count
                            }
                        }
                    },
                    cache: true
                },
                escapeMarkup: function(markup) {
                    return markup;
                },
                templateResult: format_fandom_search,
                templateSelection: format_fandom_selection,
                placeholder: '-- Fandoms --',
                allowClear: true
            });

            $('#ship_select2').select2({
                ajax: {
                    url: 'http://ficrecs.hubsec.eu/api/2/ships',
                    method: 'GET',
                    headers: {
                        Accept: 'application/vnd.api+json'
                    },
                    datatype: 'json',
                    delay: 250,
                    data: function(params) {
                        var filter = '[{"or":[{"name": "characters", "op": "any", "val": {"name": "name", "op": "ilike", "val": "%' + params.term + '%"}}, {"name": "name", "op": "ilike", "val": "%' + params.term + '%"}]}]';
                        return {
                            filter: filter,
                            "page[number]": params.page
                        };
                    },
                    processResults: function(data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data.data,
                            pagination: {
                                more: (params.page * 20) < data.meta.count
                            }
                        }
                    },
                    cache: true
                },
                minimumInputLength: 1,
                escapeMarkup: function(markup) {
                    return markup;
                },
                templateResult: format_ship_search,
                templateSelection: format_ship_selection,
                placeholder: '-- Enter a character or ship name to search --',
                allowClear: true
            });

            $('#author_select2').select2({
                ajax: {
                    url: 'http://ficrecs.hubsec.eu/api/2/authors',
                    method: 'GET',
                    headers: {
                        Accept: 'application/vnd.api+json'
                    },
                    datatype: 'json',
                    delay: 250,
                    data: function(params) {
                        var filter = '[{"name": "name", "op": "ilike", "val": "%' + params.term + '%"}]';
                        return {
                            filter: filter,
                            "page[number]": params.page
                        };
                    },
                    processResults: function(data, params) {
                        params.page = params.page || 1;

                        return {
                            results: data.data,
                            pagination: {
                                more: (params.page * 20) < data.meta.count
                            }
                        }
                    },
                    cache: true
                },
                escapeMarkup: function(markup) {
                    return markup;
                },
                templateResult: format_author_search,
                templateSelection: format_author_selection,
                placeholder: '-- Authors --',
                allowClear: true
            });

       });

    </script>

    <script type="application/javascript">
        CKEDITOR.replace('{{ form.description.name }}');
        CKEDITOR.replace('{{ form.spoilers.name }}');
    </script>
{% endblock footer_content %}